@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@800&family=Poppins&family=Roboto&family=Ubuntu&display=swap');

*{
    font-family: 'Poppins';
    font-weight: bold;
}


.upbar{
    background-color: rgb(245, 245, 245);
    height: 90px;
    text-align: left;
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px ;
    border-width: 10px;
}

.buttons{
    text-align: right;
    margin-top: -47px;
    margin-right: 80px;
    
}

.buttons #upbutton{
    border: none;
    background: transparent;
    
}

.titles{
   padding-top: 12px;
   padding-left: 15px;
}

button{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;
}

#upbutton{
    transition: transform 0.3s ease , color 0.3s;
}

#upbutton:hover{
    transform: translateY(-5px);
}

#upbutton:active{
    transform: translateY(-1px);
    color: rgb(255, 102, 0);
}




.GoShoping:active{
    transform: translateY(-1px);
    color: rgb(255, 196, 0);
    background-color: black;
}


.HomeBtn{
    color: rgb(0, 153, 255);
}


.JunkFoodImgdiv{
    position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50% , -50%)
    
}   

#letsShopBtn{   
   position: absolute; 
   top:60%;
   font-size: 30px;
  left: 44%;
  background: transparent;
  color: white;
  border: 1px solid white;
   transition: transform 0.3s ease, color 0.3s , background-color 0.3s, border 0.3s , backdrop-filter 0.3s;
}

#letsShopBtn:hover{   
    transform: translateY(-8px);
    backdrop-filter: blur(5px);
}

#letsShopBtn:active{   
    transform: translateY(-1px);
    backdrop-filter: blur(5px);
    color: orange;
    border: 1px solid orange;
}

.titlesonimg{
    position: absolute; 
    top: 41%;
    left: 44.5%;
    color: white;
    background-color:transparent;
    text-align: center;
}

.downtitles{
    position: absolute;
    text-align: center;
    top: 85%;
    left: 38.5%;
    font-size: 24px;
}





